package com.aldogg.sorter.generic;

import com.aldogg.sorter.shared.NullHandling;
import com.aldogg.sorter.shared.Sorter;
import com.aldogg.sorter.${type}_.object.${Type}Mapper;

import java.util.*;

public interface SorterObject${Type}<T> extends Sorter {

    void sortNNA(T[] array, int start, int endP1, ${Type}Mapper<T> mapper);

    default void sort(List<T> list, ${Type}Mapper<T> mapper) {
        sort(list, 0, list.size(), mapper);
    }

    default void sort(T[] array, ${Type}Mapper<T> mapper) {
        sort(array, 0, array.length, mapper);
    }

    default void sort(List<T> list, int start, int endP1, ${Type}Mapper<T> mapper) {
        int nulls = 0;
        boolean throwExceptionIfNull = mapper.getNullHandling().equals(NullHandling.NULLS_EXCEPTION);
        List<T> subList = start == 0 && endP1 == list.size() ? list : list.subList(start, endP1);
        for (T value : subList) {
            if (value == null) {
                if (throwExceptionIfNull) {
                    throw new RuntimeException("Null found in Collection");
                }
                nulls++;
            }
        }
        int n = endP1 - start - nulls;
        T[] array = (T[]) new Object[n];
        int j = 0;
        if (nulls > 0) {
            for (T value : subList) {
                if (value != null) {
                    array[j] = value;
                    j++;
                }
            }
        } else {
            for (T value : subList) {
                array[j] = value;
                j++;
            }
        }
        sortNNA(array, 0, n, mapper);
        j = 0;
        ListIterator<T> iterator = subList.listIterator();
        if (nulls > 0) {
            if (mapper.getNullHandling().equals(NullHandling.NULLS_FIRST)) {
                while (nulls > 0) {
                    iterator.next();
                    iterator.set(null);
                    nulls--;
                }
            }
            while (j < n) {
                iterator.next();
                iterator.set(array[j]);
                j++;
            }
            if (mapper.getNullHandling().equals(NullHandling.NULLS_LAST)) {
                while (nulls > 0) {
                    iterator.next();
                    iterator.set(null);
                    nulls--;
                }
            }
        } else {
            while (iterator.hasNext()) {
                iterator.next();
                iterator.set(array[j]);
                j++;
            }
        }
    }

    default void sort(T[] list, int start, int endP1, ${Type}Mapper<T> mapper) {
        int nulls = 0;
        if (mapper.getNullHandling() == NullHandling.NULLS_LAST) {
            int j = start;
            for (int i = start; i < endP1; i++) {
                T value = list[i];
                if (value == null) {
                    nulls++;
                } else {
                    list[j] = value;
                    j++;
                }
            }
            for (; j < endP1; j++) {
                list[j] = null;
            }
            sortNNA(list, 0, endP1 - nulls, mapper);
        } else if (mapper.getNullHandling() == NullHandling.NULLS_FIRST) {
            int j = endP1 - 1;
            for (int i = endP1 - 1; i >= start; i--) {
                T value = list[i];
                if (value == null) {
                    nulls++;
                } else {
                    list[j] = value;
                    j--;
                }
            }
            for (; j >= start; j--) {
                list[j] = null;
            }
            sortNNA(list, start + nulls, endP1, mapper);
        } else {
            for (int i = start; i < endP1; i++) {
                T value = list[i];
                if (value == null) {
                    throw new RuntimeException("Null found in Collection");
                }
            }
            sortNNA(list, 0, endP1, mapper);
        }
    }

}
